/* 
.line-menu {
  transition: transform .5s cubic-bezier(.68,-.55,.265,1.55);
}

.sidebar-open .line-menu:first-child {
  transition-delay: 75ms;
  transform: translate3d(0,7px,0) rotate(135deg);
}
.sidebar-open .line-menu:nth-child(2) {
  opacity: 0;
  transition-delay: 100ms;
}
.sidebar-open .line-menu:last-child {
  transition-delay: 75ms;
  transform: translate3d(0,-7px,0) rotate(-135deg);
} */

@media screen(lg) {
  .form-search{
    min-width: 500px;
  }
  .form-search > div{
    width: 100%;
  }
}
